<% breadcrumb_for request.path %>

<%= render 'assignment_sidebar' %>
<h2>Grades</h2>
<hr>

<% if @participants.empty? %>
  <div class="center m-5">No grade worksheet uploaded yet.</div>
<% else %>
  <%= render partial: 'show' %>
<% end %>
