[submodule "vendor/dependencies/git/cs-checkstyle"]
	path = vendor/dependencies/git/cs-checkstyle
	url = https://7ee4bf27e4c2e2e137063521fa0e607f008d3295@github.ncsu.edu/engr-csc116-staff/cs-checkstyle.git
