<p>Dear <%= @user.first_name %>,</p>

<p>Your password has been reset. The reset password is:<br>
  <span style="color: #D9230F"><%= @random_password %></span></p>

<p>After you log in, please change your password from the profile page as soon as you can. Thank you!</p>

<p>Sincerely,<br>
  The AGS team</p>