<%= render partial: '/assignments/header' %>

<div class="row">
  <div class="col-lg-3">
    <%= render partial: '/assignments/sidebar' %>
  </div>
  <div class="col-lg-9">
    <h2 class="pb-2">Students</h2>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-light">
        <th scope="row">Active</th>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr class="table-light">
        <th scope="row">Default</th>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
