<div class="mb-2">
  <h3 class="inline-header">Moodle Grade Worksheet</h3>
  <span class="align-middle">
    <%= @participants.present? ? badge_checkmark : badge_exclamation %>
  </span>
</div>

<%= react_component(
      'forms/CSV',
      url: course_assignment_participants_path(@course, @assignment),
      id: 'moodle',
      tip: 'It should look like "Grades-CSC 116 (004) FALL 2020-Day 11-293581.csv"')
%>
