<% content_for(:title, 'About') %>

<!--suppress HtmlUnknownTarget -->
<div class="d-flex justify-content-center" style="background-color: #616063">
  <a href="http://motions.cat/top.html#0129">
    <img src="/motions_cat/0129.gif" alt="Meowin' in the Rain!">
  </a>
</div>
