<% content_for(:title, 'Help') %>

<div class="d-flex justify-content-center">
  <i class="fas fa-cat fa-2x"></i>
</div>
<div class="d-flex justify-content-center">
  <i class="fas fa-question" style="font-size: 384px;"></i>
</div>
