<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-1">
        <a href="#">
          <i class="fas fa-user-circle fa-2x"></i>
        </a>
      </div>
      <div class="col-11">
        <p><b><%= @user_email %></b> created <b>CSC 116 (001)/Exercise 1</b></p>
        <div class="card bg-secondary mb-3">
          <div class="card-header">Recent</div>
          <div class="card-body">
            <h4 class="card-title">Secondary card title</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
