<div class="mb-2">
  <%= link_to('dependencies.json', { action: :json }, { class: 'btn btn-secondary', target: '_blank' }) %>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Package</th>
    <th scope="col">Version</th>
    <th scope="col">Source</th>
  </tr>
  </thead>
  <tbody>
  <% @dependencies.each do |d| %>
    <tr>
      <td><%= d['name'] %></td>
      <td><%= d['version'] %></td>
      <td><%= link_to(d['source'], d['source'], target: '_blank') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
