<tr>
  <td>
    <input type="text" class="borderless" style="width: 50px"/>
  </td>
  <td>
    <div class="d-flex">
      <select id="exampleSelect1" class="borderless flex-fill">
        <option value="1">Full points</option>
        <option value="2" selected>Partial points</option>
      </select>
    </div>
  </td>
  <td>
    <div class="d-flex">
      <input type="text" class="borderless flex-fill"/>
    </div>
  </td>
  <td>
    <div class="d-flex">
      <input type="text" class="borderless" style="width: 50px" value="1"/>
    </div>
  </td>
  <td>
    <div class="d-flex">
      <input type="text" class="borderless flex-fill"/>
    </div>
  </td>
  <td class="align-middle">
    <a href="#" class="text-body"><i class="fas fa-minus"></i></a>
  </td>
</tr>