<p class="card-text">
  <b>Usage: </b><%= usage %>
</p>
<div class="row">
  <% if required_items.include?('input_file') %>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="exampleSelect1">Input file</label>
        <select class="form-control" id="exampleSelect1">
          <option></option>
          <option>Hello.java</option>
          <option>Goodbye.java</option>
        </select>
      </div>
    </div>
  <% end %>
  <% if required_items.include?('oracle_file') %>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="exampleSelect1">Oracle file</label>
        <select class="form-control" id="exampleSelect1">
          <option></option>
          <option>Hello.java</option>
          <option>Goodbye.java</option>
          <option>HelloTest.java</option>
          <option>GoodbyeTest.java</option>
        </select>
      </div>
    </div>
  <% end %>
  <% if required_items.include?('bbtp') %>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="exampleSelect1">Black box test plan</label>
        <select class="form-control" id="exampleSelect1">
          <option></option>
          <option>Hello.java</option>
          <option>Goodbye.java</option>
          <option>HelloTest.java</option>
          <option>GoodbyeTest.java</option>
        </select>
      </div>
    </div>
  <% end %>
  <% if required_items.include?('test_file') %>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="exampleSelect1">Test file</label>
        <select class="form-control" id="exampleSelect1">
          <option></option>
          <option>Hello.java</option>
          <option>Goodbye.java</option>
          <option>HelloTest.java</option>
          <option>GoodbyeTest.java</option>
        </select>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-12">
    <% if required_items.include?('description') %>
      <div class="form-group">
        <label for="exampleTextarea">Description <span class="text-muted">(optional)</span></label>
        <textarea class="form-control" id="exampleTextarea" rows="3"><%= default_description %>
        </textarea>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= render partial: '/rubric_items/table', locals: {required_items: required_items, default_set: default_set} %>
  </div>
</div>
<a href="#" class="card-link">Save</a>
<a href="#" class="card-link">Delete</a>