<table class="table table-hover">
  <thead>
  <tr class="table-active">
    <th scope="col" class="bootstrap-overrides" style="width: 10%">Points</th>
    <th scope="col" class="bootstrap-overrides" style="width: 40%">Criteria</th>
    <th scope="col" class="bootstrap-overrides" style="width: 50%">Response to student</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input type="text" class="border-in-light" style="width: 50px" value="1"/>
    </td>
    <td>
      <div class="d-flex">
        <select id="exampleSelect1" class="border-in-light flex-fill">
          <option value="1" selected>File is named '[filename]'</option>
          <option value="2">Class is named '[class_name]'</option>
          <option value="3">Program complies</option>
          <option value="4">Program executes</option>
        </select>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <input type="text" class="border-in-light flex-fill" value="File is not named '[filename]'"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" class="border-in-light" style="width: 50px" value="1"/>
    </td>
    <td>
      <div class="d-flex">
        <select id="exampleSelect1" class="border-in-light flex-fill">
          <option value="1">File is named '[filename]'</option>
          <option value="2" selected>Class is named '[class_name]'</option>
          <option value="3">Program complies</option>
          <option value="4">Program executes</option>
        </select>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <input type="text" class="border-in-light flex-fill" value="Class is not named '[class_name]'"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" class="border-in-light" style="width: 50px" value="3"/>
    </td>
    <td>
      <div class="d-flex">
        <select id="exampleSelect1" class="border-in-light flex-fill">
          <option value="1">File is named '[filename]'</option>
          <option value="2">Class is named '[class_name]'</option>
          <option value="3" selected>Program complies</option>
          <option value="4">Program executes</option>
        </select>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <input type="text" class="border-in-light flex-fill" value="Program does not compile"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" class="border-in-light" style="width: 50px" value="1"/>
    </td>
    <td>
      <div class="d-flex">
        <select id="exampleSelect1" class="border-in-light flex-fill">
          <option value="1">File is named '[filename]'</option>
          <option value="2">Class is named '[class_name]'</option>
          <option value="3">Program complies</option>
          <option value="4" selected>Program executes</option>
        </select>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <input type="text" class="border-in-light flex-fill" value="Program does not execute"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" class="border-in-light" style="width: 50px"/>
    </td>
    <td>
      <div class="d-flex">
        <input type="text" class="border-in-light flex-fill"/>
      </div>
    </td>
    <td>
      <div class="d-flex">
        <input type="text" class="border-in-light flex-fill"/>
      </div>
    </td>
  </tr>
  <tr class="text-muted">
    <td>
      + New
    </td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>