<table class="table table-sm table-hover">
  <thead>
  <tr class="table-active">
    <% if required_items.include?('type') %>
      <th scope="col" class="bootstrap-overrides">Type</th>
    <% end %>
    <% if required_items.include?('points') %>
      <th scope="col" class="bootstrap-overrides">Points</th>
    <% end %>
    <% if required_items.include?('criterion') %>
      <th scope="col" class="bootstrap-overrides" style="width: 50%">Criterion</th>
    <% end %>
    <% if required_items.include?('response') %>
      <th scope="col" class="bootstrap-overrides" style="width: 40%">Response to student</th>
    <% end %>
    <th scope="col" class="bootstrap-overrides">Action</th>
  </tr>
  </thead>
  <tbody>
  <% criterion_types = Criterion.criterion_types.keys %>
  <% criteria = default_set.map { |c| c[:criterion] } %>
  <% default_set.each do |criterion| %>
    <tr>
      <% if required_items.include?('type') %>
        <td>
          <div class="d-flex">
            <%= select :rubric_item, :criterion_type, criterion_types, {selected: criterion[:criterion_type]}, class: 'borderless flex-fill' %>
          </div>
        </td>
      <% end %>
      <% if required_items.include?('points') %>
        <td>
          <div class="d-flex">
            <%= text_field :rubric_item, :item_type, value: criterion[:points], class: "borderless", style: "width: 50px" %>
          </div>
        </td>
      <% end %>
      <% if required_items.include?('criterion') %>
        <td>
          <div class="d-flex">
            <%= select :rubric_item, :item_type, criteria, {selected: criterion[:criterion]}, class: 'borderless flex-fill', style: "width: 50%" %>
          </div>
        </td>
      <% end %>
      <% if required_items.include?('response') %>
        <td>
          <div class="d-flex">
            <%= text_field :rubric_item, :item_type, value: criterion[:response], class: "borderless flex-fill", style: "width: 40%" %>
          </div>
        </td>
      <% end %>
      <td class="align-middle">
        <a href="#" class="text-body"><i class="fas fa-minus"></i></a>
      </td>
    </tr>
  <% end %>
  <tr class="text-muted">
    <td colspan="6">
      + New
    </td>
  </tr>
  </tbody>
</table>