<% breadcrumb_for request.path %>

<%= render 'assignment_sidebar' %>

<h2>Submissions</h2>
<hr>
<% if @participants.empty? %>
  <div class="center">No participants found.</div>
<% else %>
  <%= render partial: '/submissions/upload' %>
  <%= render partial: '/submissions/table' %>
<% end %>