default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  username:
  password:

development:
  <<: *default
  database: ags_development

test:
  <<: *default
  database: ags_test

production:
  <<: *default
  database: ags
