default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: <%= ENV.fetch("DATABASE_POOL") { 10 } %>
  username:
  password:
  checkout_timeout: 10

development:
  <<: *default
  database: ags_development

test:
  <<: *default
  database: ags_test

production:
  <<: *default
  database: ags
