default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 30 } %>
  username:
  password:

development:
  <<: *default
  database: ags_development

test:
  <<: *default
  database: ags_test

production:
  <<: *default
  database: ags
