<div class="row">
  <div class="col-lg-12 pb-lg-3">
    <h2><%= type + "s" %></h2>
  </div>
</div>

<% (1..number).each_with_index do |x, i| %>
  <% if i % 3 == 0 %>
    <div class="row pb-3">
  <% end %>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="/grading/<%= i + 1 %>/prepare"><%= type + " " + x.to_s %></a></h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <% if i % 3 == 2 || i == number %>
    </div>
  <% end %>
<% end %>