<%= form_with(url: "/courses/#{@course.id}/assignments/#{@assignment.id}/grading/run?id=#{@rubric_item.id}") do |f| %>
  <% type = @rubric_item.type %>
  <div class="form-group">
    <% case type %>
    <% when 'Wce' %>
      <%= render partial: 'grading/execute', locals: { form: f } %>
    <% when 'Checkstyle' %>
      <%= render partial: 'grading/javadoc', locals: { form: f } %>
    <% else
         ''
       end %>
  </div>
  <div class="form-group d-flex align-items-center">
    <% spinner = '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' %>
    <%= f.button('Run', class: 'btn btn-primary', data: { disable_with: "#{spinner} Running..." }) %>
    <span class="ml-2" id="error"></span>
  </div>
<% end %>
<script>
  $(document).on('ajax:error', () => {
    $('#error').html('Error occurred during grading.');
  });
</script>
