<%= form_with url: course_assignment_grading_path(@course, @assignment, @rubric_item), method: :put do |form| %>
  <%= form.fields_for :options do |f| %>
    <div class="form-group" style="max-width: 500px">
      <%= render partial: "grading/options/#{@rubric_item.type.downcase.sub('rubricitem::', '')}", locals: { form: f } %>
    </div>
  <% end %>
  <div class="form-group d-flex align-items-center">
    <%# spinner = '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' %>
    <%= form.submit('Run', class: 'btn btn-primary', data: { disable_with: "Running..." }) %>
    <div class="d-inline ml-2">
      <span id="grading-status"></span>
    </div>
  </div>
<% end %>
