<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= from == "exercises" ? "active" : "" %>" href="/grading/exercises">Exercises</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= from == "projects" ? "active" : "" %>" href="/grading/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= from == "homework" ? "active" : "" %>" href="/grading/homework">Homework</a>
  </li>
</ul>