<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#exercises">Exercises</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#homework">Homework</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content pt-3">
  <div class="tab-pane fade show active" id="exercises">
    <%= render partial: "items", locals: {type: "Exercise", number: 27, url_prefix: "/grading/exercises/"} %>
  </div>
  <div class="tab-pane fade" id="projects">
    <%= render partial: "items", locals: {type: "Project", number: 6, url_prefix: "/grading/projects/"} %>
  </div>
  <div class="tab-pane fade" id="homework">
    <%= render partial: "items", locals: {type: "Homework", number: 4, url_prefix: "/grading/homework/"} %>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse
      gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche
      high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS
      viral locavore cosby sweater.</p>
  </div>
</div>




