<% exercises_active = @controller == "exercises" ? "active" : "" %>
<% projects_active = @controller == "projects" ? "active" : "" %>
<% homework_active = @controller == "homework" ? "active" : "" %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= exercises_active %>" href="/grading/exercises">Exercises</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= projects_active %>" href="/grading/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= homework_active %>" href="/grading/homework">Homework</a>
  </li>
</ul>

<div class="pt-3">
  <%= render partial: "/grading/items", locals: {url_prefix: "/grading/#{@controller}/"} %>
</div>




