<% breadcrumb_for request.path %>

<%= render 'assignment_sidebar' %>
<h2>Automated Grading</h2>
<hr>

<% if @rubrics.present? %>
  <div class="accordion" id="grade-items-accordion">
    <div class="card">
      <% @rubrics.each do |rubric| %>
        <%= render partial: 'grading/show', locals: { rubric: rubric } %>
      <% end %>
    </div>
  </div>

  <% content_for :js do %>
    <script>
      $(document).on('ajax:error', () => {
        $('#error').html('Error occurred.');
      });

      // save user input
      $('input, textarea').change(function () {
        localStorage.setItem($(this).prop('id'), $(this).val());
      });
      // save checkbox states
      $('input:checkbox').change(function () {
        localStorage.setItem($(this).prop('id'), $(this).prop('checked'));
      });

      // restore input
      $(document).ready(function () {
        $.each(localStorage, (k, v) => {
          let e = $(`#${k}`);
          if (e.is(':checkbox')) {
            e.prop('checked', v === 'true');
            toggleOptions(e);
          } else {
            e.val(v);
          }
        });
      });

      // show/hide options
      $('input:checkbox[name=toggle]').change(function () {
        toggleOptions($(this));
      });

      function toggleOptions(checkbox) {
        let id = checkbox.prop('id');
        let options = $(`div#${id}`);
        if (checkbox.prop('checked')) {
          options.show();
        } else {
          options.hide();
          uncheckChildCheckboxes(checkbox);
        }
      }

      function uncheckChildCheckboxes(checkbox) {
        checkbox.parent().find('input:checkbox').each((i, e) => {
          $(e).prop('checked', false);
          localStorage.setItem($(e).prop('id'), 'false');
        });
      }
    </script>
  <% end %>
<% else %>
  <div class="center">No rubrics added.</div>
<% end %>
