<div class="row">
  <table class="table table-hover" id="transparent-table">
    <tbody>
    <tr class="table-light">
      <% step = @step %>
      <td><a href="?step=1">Prepare</a></td>

      <% if step < 2 %>
        <td class="text-muted"><i class="fas fa-chevron-right"></i></td>
        <td class="text-muted">Compile</td>
      <% else %>
        <td><i class="fas fa-chevron-right"></i></td>
        <td><a href="?step=2">Compile</a></td>
      <% end %>

      <% if step < 3 %>
        <td class="text-muted"><i class="fas fa-chevron-right"></i></td>
        <td class="text-muted">Run</td>
      <% else %>
        <td><i class="fas fa-chevron-right"></i></td>
        <td><a href="?step=3">Run</a></td>
      <% end %>

      <% if step < 4 %>
        <td class="text-muted"><i class="fas fa-chevron-right"></i></td>
        <td class="text-muted">Checkstyle</td>
      <% else %>
        <td><i class="fas fa-chevron-right"></i></td>
        <td><a href="?step=4">Checkstyle</a></td>
      <% end %>

      <% if step < 5 %>
        <td class="text-muted"><i class="fas fa-chevron-right"></i></td>
        <td class="text-muted">Summary</td>
      <% else %>
        <td><i class="fas fa-chevron-right"></i></td>
        <td><a href="?step=5">Summary</a></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-lg-3">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Cras justo odio
        <span class="badge badge-primary badge-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Dapibus ac facilisis in
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>
  </div>
  <div class="col-lg-9">
    <a href="?step=<%= @step+1 %>"><button class="btn btn-primary">Next</button></a>
  </div>
</div>