label.required:after {
  content: " *";
  color: #dc3545;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  white-space: nowrap;
}

.fa-150 {
  font-size: 150%;
}

.table thead th.bootstrap-overrides {
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}

.borderless {
  border: 0
}

.toast-float {
  position: absolute;
  z-index: 2;
}

.btn {
  &-primary, &-secondary {
    background-image: none;

    &:hover {
      background-image: none;
    }
  }
}