label.required:after {
  content: " *";
  color: #dc3545;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-150 {
  font-size: 150%;
}

.table thead th.bootstrap-overrides {
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}

.borderless {
  border: 0
}

.toast-float {
  position: absolute;
  z-index: 2;
}

.a-del {
  cursor: pointer;
}