<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Helli Dev</a></li>
    <% current_page = new_breadcrumb.pop %>
    <% new_breadcrumb.each do |n| %>
      <li class="breadcrumb-item"><a href="<%= n[:url] %>"><%= n[:title] %></a></li>
    <% end %>
    <% if current_page %>
      <li class="breadcrumb-item active" aria-current="page"><%= current_page[:title] %></li>
    <% end %>
  </ol>
</nav>
