<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="float-lg-right"><a href="#top">Back to top</a></li>
        <li><a href="https://github.com/apo5698/helli">GitHub</a></li>
      </ul>
      <p>
        Made by
        <a href="https://github.com/uiz-11">Yulin Zhang</a>
        and
        <a href="https://github.com/apo5698">Dingdong Yao</a>.</p>
      <p>Code released under the
        <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
      <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from
        <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from
        <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
    </div>
  </div>
</footer>
