<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <p>
        Made by
        <a href="https://github.com/uiz-11">Yulin Zhang</a>
        and
        <a href="https://github.com/apo5698">Dingdong Yao</a>.
      </p>
      <p>Code released under the
        <a href="https://github.com/apo5698/helli/blob/master/LICENSE">MIT License</a>.
      </p>
    </div>
  </div>
</footer>
