doctype html
html[lang="en"]
  head
    title
      = yield(:title).blank? ? @title : yield(:title)
      |  - Helli Dev
    = csrf_meta_tags
    = csp_meta_tag
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    = render partial: '/layouts/bootstrap'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'layouts/navbar'
    .container-fluid
      .row
        = render 'layouts/sidebar'
        .col
          .row
            .col-xl-1
            .col
              .pt-4
                = render 'layouts/flash'
                = render 'layouts/breadcrumb'
                = yield
              = render 'layouts/footer'
            .col-xl-1
    = render 'layouts/modal'
    = yield :js
